<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Orden confirmada</h2>
    <p>Gracias por confiar en nosotros! La ID de tu orden es {{ orden_id }}.</p>
    
    <h3>Detalles:</h3>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.description }}</strong><br>
                Precio: {{ producto.price }}<br>
                Cantidad: {{ producto.quantity }}<br>
                <!-- Add more product details here as needed -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
