body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading Font */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* Body Text Font */
body {
  font-family: 'Roboto', sans-serif;
}

/* Accent Font */
.button, .label, .navigation {
  font-family: 'Roboto', sans-serif;
}