body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading Font */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* Body Text Font */
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(220, 220, 220);
}

/* Accent Font */
.button, .label, .navigation {
  font-family: 'Roboto', sans-serif;
}

html{
  min-height: 100%;
}

.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  flex: 1;
}
