.float{
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	left:90px;
	background-color:rgb(25, 25, 25);
  	font-size:10px;
  	z-index:0;
	border: 2px solid rgb(230, 230, 230);
	border-radius: 50%;
}

.fa-whatsapp{
	max-height: 10px;
	max-width: 10px;
}



.float2{
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	left:20px;
	background-color:rgb(25, 25, 25);
  	font-size:10px;
  	z-index:0;
	border: 2px solid rgb(230, 230, 230);
	border-radius: 50%;

}

.fa-whatsapp2{
	max-height: 10px;
	max-width: 10px;
}

.texto-etiquetas{
	color: rgb(230, 230, 230);
	font-weight: 500;
	margin-left: 4px;
}

.img-etiquetas{
	height: 30px;
	width: 30px;
	filter: invert(100%) brightness(200%);
}

.container-etiquetas:hover .img-etiquetas{
	filter: invert(0%) brightness(100%);
	background-color: rgb(230, 230, 230);
}

.container-etiquetas:hover .float{
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(25, 25, 25);
}

.container-etiquetas:hover .float2{
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(25, 25, 25);
}

.container-etiquetas:hover .texto-etiquetas{
	color: rgb(25, 25, 25);
}

.container-etiquetas{
	border-radius: 50%;
}

