.carrito-modal{
    position: absolute;
    z-index: 1500;
}

.tabla-carrito-checkout {
    align-items: center; /* Center vertically */
    width: 100%; /* Fill the entire height of the modal */
    text-align: center;
    vertical-align: middle;
}
.tabla-carrito-cel{
    width: 100%;
    margin-inline: auto;
}

.tabla-carrito td {
    width: auto; /* Remove the fixed width for table cells */
}

.td-carrito{
    text-align: center;
}

.td-carrito-left{
    text-align: left;
}

.tabla-carrito {
    text-align: center;
    width: 100%;
}

.tabla-carrito-pc {
    text-align: center;
    width: 60%;
    margin-inline: auto;
}

.contenido-centrado{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Fill the entire height of the modal */
}

.carrito-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.boton-cerrar-carrito{
    background-color: transparent;
    border: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: background-color 0.7s ease 0s;
}

.boton-cerrar-carrito:hover{
    background-color: gray;
}

.btn-quantity{
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    margin-inline: 5px;
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.btn-quantity{
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    margin-inline: 5px;
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.btn-quantity-2{
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(230, 230, 230);
    margin-inline: 5px;
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.cantidad-carrito{
    align-items: center;
    display: flex;
    justify-content: center;
}

.boton-eliminar{
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    transition: background-color 0s ease 0s;
    transition: color 0s ease 0s;
    cursor: pointer;
    font-size: 12px;
}

.boton-eliminar:hover{
    background-color: white;
    color: rgb(25, 25, 25);
}

.titulo-carrito{
    font-size: 16px;
}

.titulo-item-carrito{
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

.texto-carrito{
    font-size: 14px;
    color: rgb(230, 230, 230);
}

.texto-carrito-2{
    color: rgb(230, 230, 230);
}

.precio-carrito{
    font-weight: 600;
}

.color-carrito{
    font-weight: 500;
}

.border-thead{
    height: 3px;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.padding-carrito-cel{
    padding-inline: 20px;
}

.imagen-borrar-carrito-cel{
    display: flex;
    margin-inline: auto;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
}

.texto-total-carrito-cel{
    font-weight: 600;
}

.carrito-icon-container {
    position: relative;
    display: inline-block;
}
  
.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carrito-vacio{
    padding: 10px;
    max-width: 100vw;
}

.td-imagen-carrito{
    display: flex;
    justify-content: flex-start;
    width: min-content;
}

.borde-tabla-carrito{
    width: 100%;
    height: 2px;
    background-color: lightgray;
}

.total-carrito{
    display: flex;
    justify-content: center;
}

.margen-tabla-carrito{
    margin-top: 25px;
}

.boton-agregar-carrito-carrito{
    background-color: rgb(230, 230, 230);
    color: rgb(25, 25, 25);
    width: 100%;
    height: 70px;
    border: 2px solid rgb(230, 230, 230);
    transition: background-color 0s ease 0s;
    transition: color 0s ease 0s;
    font-weight: 600;
    cursor: pointer;
}

.boton-agregar-carrito-carrito:hover{
    background-color: rgb(25, 25, 25);
    color: rgb(230, 230, 230);
}

.margin-carrito{
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.img-item-carrito{
    border-radius: 2px;
}

.width-boton-carrito{
    width: 100%;
}

.texto-carrito-3{
    color: rgb(25, 25, 25);
}

@media only screen and (max-width: 767px) {
    .boton-cel{
        background-color: rgb(25, 25, 25);
        color: white;
        width: 100%;
        height: 70px;
        border: 2px solid rgb(25, 25, 25);
        transition: background-color 0s ease 0s;
        transition: color 0s ease 0s;
        font-weight: 600;
        cursor: pointer;
    }
    .td-carrito{
        padding-left: 0px;
    }
}