.container-checkout-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-checkout-1 p{
    color: rgb(230, 230, 230);
}

.container-checkout-1 h2{
    color: rgb(230, 230, 230);
}

.container-checkout-1 h3{
    color: rgb(230, 230, 230);
}

.container-checkout-1 {
    color: rgb(230, 230, 230);
}

.container-checkout-1 select{
    color: rgb(230, 230, 230);
}

.customer-form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.customer-form input{
    height: 30px;
}

.customer-form select{
    height: 36px;
}

.customer-form-container{
    width: 55%;
    padding: 40px;
    margin: 20px;
    background-color: rgb(25, 25, 25);
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container-tabla-carrito-checkout{
    width: 35%;
    padding: 40px;
    margin: 20px;
    background-color: rgb(25, 25, 25);
}

.tabla-container {
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Fill the entire height of the modal */
}

.tabla-carrito td {
    text-align: left;
    vertical-align: middle;
    width: auto; /* Remove the fixed width for table cells */
}

.payment-method-container{
    display: flex;
    flex-direction: column;
}

.section-nombre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span-nombre{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.span-id{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.span-id-number{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.span-telefono{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-direccion{
    margin-bottom: 5px;
}

.customer-form label{
    font-size: 17px;
    font-weight: 500;
}

.titulo-checkout{
    font-weight: 600;
    margin-top: 10px;
}

.input-form-checkout{
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(25, 25, 25);
    border-radius: 0;
    color: rgb(230, 230, 230);
    font-size: 17px;
}

.tabla-carrito-checkout th{
    font-size: 12px;
}

.tabla-carrito-checkout td{
    font-size: 15px;
}

.img-items-checkout{
    text-align: left;
}

.total-precio-items{
    padding-block: 20px;
    font-weight: 600;
}

.boton-pagar-checkout{
    color: rgb(25, 25, 25);
    background-color: rgb(230, 230, 230);
}

.boton-pagar-checkout:hover{
    color: rgb(230, 230, 230);
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(230, 230, 230);
}

.container-no-productos{
    padding: 20px;
    width: 100%;
    height: 80vh;
}

.boton-tienda{
    width: 20%;
    height: 40px;
}