.container-checkout-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-checkout-1 p{
    color: rgb(230, 230, 230);
}

.container-checkout-1 h2{
    color: rgb(230, 230, 230);
}

.container-checkout-1 h3{
    color: rgb(230, 230, 230);
}

.container-checkout-1 {
    color: rgb(230, 230, 230);
}

.container-checkout-1 select{
    color: rgb(25, 25, 25);
}

.customer-form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.customer-form input{
    height: 30px;
}

.customer-form select{
    height: 36px;
}

.customer-form-container{
    width: 55%;
    padding: 40px;
    margin: 20px;
    background-color: rgb(25, 25, 25);
    border-radius: 4px;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container-tabla-carrito-checkout{
    width: 35%;
    padding: 40px;
    margin: 20px;
    background-color: rgb(25, 25, 25);
    border-radius: 4px;
}

.tabla-container {
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Fill the entire height of the modal */
}

.tabla-carrito td {
    text-align: left;
    vertical-align: middle;
    width: auto; /* Remove the fixed width for table cells */
}

.payment-method-container{
    display: flex;
    flex-direction: column;
}

.section-nombre{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.span-nombre{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.span-id{
    display: flex;
    flex-direction: column;
    width: auto;
}

.span-id-number{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    margin-left: 20px;
}

.span-apellido{
    margin-left: 20px;
    width: -webkit-fill-available;
}

.span-telefono{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-direccion{
    margin-bottom: 5px;
}

.customer-form label{
    font-size: 17px;
    font-weight: 500;
}

.titulo-checkout{
    font-weight: 600;
}

.input-form-checkout{
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    color: rgb(25, 25, 25);
    font-size: 17px;
}

.tabla-carrito-checkout th{
    font-size: 12px;
}

.tabla-carrito-checkout td{
    font-size: 15px;
}

.img-items-checkout{
    text-align: left;
}

.total-precio-items{
    padding-top: 20px;
    font-weight: 600;
}

.boton-pagar-checkout{
    color: rgb(25, 25, 25);
    background-color: rgb(230, 230, 230);
    border: 0px;
    width: 100%;
    border-radius: 0px;
    height: 60px;
    cursor: pointer;
    font-weight: 600;
}

.boton-pagar-checkout:hover{
    color: rgb(230, 230, 230);
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(230, 230, 230);
}

.container-no-productos{
    padding: 20px;
    width: auto;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton-tienda{
    height: 40px;
}

.separacion-checkout{
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-block: 15px;
}

.titulo-tu-pedido{
    margin-bottom: 5px;
}

.td-img-item{
    display: flex;
    align-items: center;
}

.texto-item-checkout{
    margin-left: 10px;
}

.label-retiro{
    color: rgb(230, 230, 230);
}

.label-retiro:hover {
    text-decoration: underline;
}

.texto-no-productos{
    text-align: center;
}

.select-checkout{
    height: 35px;
    margin-top: 5px;
}

.costo-total-checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.img-items-checkout{
    border-radius: 2px;
}

@media only screen and (max-width: 767px) {
    .container-checkout-1{
        display: block;
    }
    .customer-form-container{
        padding: 10px;
        width: auto;
    }
    .container-tabla-carrito-checkout{
        padding: 10px;
        width: auto;
    }
    .customer-form{
        padding: 0px;
        width: auto;
    }
    .ver-producto-button{
        display: none;
    }
    .ver-producto-span{
        display: none;
    }
    
    .span-id{
        width: auto;
    }
    
    .span-id-number{
        width: auto;
    }

    .section-nombre{
        display: block;
    }

    .section-nombre-cel{
        display: flex;
    }

    label{
        margin-block: 5px;
    }

    .span-apellido{
        margin-left: 0px;
    }
    
    .span-id-number{
        margin-left: 0px;
    }

    .section-nombre-cel{
        display: block;
    }

    .span-nombre{
        width: -webkit-fill-available;
    }
}