.container-compra-realizada{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boton-compra-uala{
    width: 100%;
    height: 40px;
}

.texto-compra{
    text-align: center;
}