.row-destacados{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col-imagenes {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the start vertically */
}

.container-imagenes {
    width: 80%; /* Adjust width as needed */
    aspect-ratio: 1/1;
    border: 1px solid black;
    overflow: hidden; /* This ensures that the image doesn't overflow the container */
}

.container-imagenes img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space beneath the image */
}

.col-informacion{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.no-padding{
    padding-block: 0px;
}

.nombre-producto{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.precio-producto{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}

.talles-producto{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block: 10px;
}

.boton-agregar-carrito{
    background-color: #1D1B1B;
    color: white;
    width: 100%;
    height: 70px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    border: 2px solid gray;
}

.boton-agregar-carrito-disabled{
    background-color: rgb(197, 197, 197);
    color: rgb(153, 153, 153);
    width: 100%;
    height: 70px;
    font-weight: 600;
}

.boton-agregar-carrito:hover{
    background-color: white;
    color: #1D1B1B;
}

.container-boton-agregar-carrito{
    width: 100%;
    margin-block: 30px;
}

.container-guia-talles{
    width: 100%;
    margin-top: 15px;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.4s ease;
}

.container-guia-talles:hover{
    cursor: pointer;
}

.imagen-talles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1%;
    width: 98%;
    height: auto;
}

.titulo-relacionados{
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.selected-talle {
    margin-inline: 2px;
    width: 50px;
    aspect-ratio: 1/1;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid gray;
}

.selected-talle:hover {
    cursor: pointer;
}

.boton-talle{
    margin-inline: 2px;
    width: 50px;
    aspect-ratio: 1/1;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 5px;
}

.boton-talle:hover{
    cursor: pointer;
}

.tarjeta-productos-relacionados{
    padding-inline: 10px;
}

.color-option{
    margin-inline: 2px;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    padding: 0;
    border-radius: 5px;
}

.imagen-color-option{
    border-radius: 5px;
}

.color-option:hover{
    cursor: pointer;
}

.selected-color{
    border: 2px solid gray;
    padding: 0;
}

.error-message{
    display: flex;
    align-self: center;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    font-size: 12px;
}

.productos-relacionados{
    margin-top: 10px;
}

.margin-producto{
    margin-bottom: 1000px;
}

.imagen-producto{
    width: 65%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.colores-talles{
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.guia-talles-img{
    width: 20px;
    height: 20px;
}

.container-guia-talles{
    display: flex;
    align-items: center;
    width: auto;
    border: 2px solid gray;
    width: fit-content;
    padding-inline: 5px;
    border-radius: 5px;
    margin-top: 0px;
}

.container-guia-talles:hover{
    background-color: rgb(25, 25, 25);
}

.texto-guia-talles{
    font-size: 14px;
    font-weight: 600;
}

.container-guia-talles:hover .texto-guia-talles{
    color: rgb(230, 230, 230);
}

.container-guia-talles:hover .guia-talles-img{
    filter: invert(100%) brightness(200%);
}

.descripcion-producto{
    display: flex;
    max-width: 100%;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    z-index: 999;
}

.texto-talle{
    color: #1D1B1B;
}

.modal-detalle-cel{
    display: none;
}

@media only screen and (max-width: 767px) {
    .col-imagenes{
        width: auto;
    }
    .col-informacion{
        width: auto;
        height: auto;
    }
    .row-destacados{
        display: block;
    }
    .imagen-producto{
        padding: 0px;
        width: 100vw;
        margin-top: 0px;
        margin-bottom: 5px;
        border-radius: 0px;
    }
    .padding-top-navbar{
        padding-top: 60px;
    }
    .boton-agregar-carrito{
        width: 95vw;
        font-size: 16px;
    }
    .margin-block-cel{
        margin-block: 8px;
    }
    .modal-detalle-pc{
        display: none;
    }
    .modal-detalle-cel{
        display: block;
    }
    .titulo-relacionados{
        margin-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .col-informacion{
        padding-right: 20px;
    }
}
  