.footer-items{
    width: 100%;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-bros{
    margin-top: 20px;
    width: 100%;
    height: 47px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cliente{
    width: 50px;
    height: 50px;
    background-color: red;
}

.texto-copyright{
    color: white;
    font-size: 12px;
}

.titulo-clientes{
    display: flex;
    justify-content: center;
}

.logo-redes{
    width: 40px;
    height: 40px;
}

.icono-footer{
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-bottom: -10px;
    padding-top: 10px;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 10px;
}
