.carousel{
    width: 100%;
    height: 90vh;
}

.destacados{
    width: 100%;
    background-color: white;
}

.titulo-destacados{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-inline: 20px;
}

.row-categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-inline: 20px;
    padding-block: 20px;
}

.tarjeta-producto {
    width: 100%;
    height: 350px;
    padding-block: 20px;
    position: relative; /* Add this to position the button */
    display: flex; /* Add flexbox to align items */
    flex-direction: column; /* Stack elements vertically */
    align-items: left; /* Center items horizontally */
    opacity: 1;
}

.precio-tarjeta-Productos {
    margin-top: auto; /* Push the price to the bottom */
}

.ver-producto-button {
    display: none; /* Initially hide the button */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Semi-transparent background */
    color: rgba(25, 25, 25);
    padding: 10px 20px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
    border: 0px;
    cursor: pointer;
    font-weight: 600;
}

.tarjeta-producto:hover .ver-producto-button {
    display: inline-block; /* Show the button on hover */
    opacity: 1.6;
}

.ver-producto-button:hover {
    background-color: rgba(25, 25, 25); /* Darker background on hover */
    color: white;
    border: none;
}

.btn-ver-todos{
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid rgb(25, 25, 25);
    padding: 5px;
    text-decoration: none;
    color: rgb(25, 25, 25);
    font-size: 14px;
    font-weight: 600;
}

.btn-ver-todos:hover{
    display: inline-block;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(25, 25, 25);
    padding: 5px;
    text-decoration: none;
    color: white;
}

.row-btn-ver-todos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarjeta-categoria{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/IMG_3704.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.tarjeta-categoria:hover {
    opacity: 0.8; /* Adjust the opacity as needed */
}

.texto-categoria{
    font-size: 25px;
    color: rgb(25, 25, 25);
    font-weight: 600;
}

.container-suscripcion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    padding-block: 40px;
}

.input-suscripcion{
    margin-right: 20px;
    height: 30px;
    width: 220px;
    border-radius: 0px;
    border: 0px;
}

.input-suscripcion:focus{
    outline: none;
}

.texto-suscripcion{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.boton-suscripcion{
    height: 32px;
    background-color: rgb(25, 25, 25);
    border: 1px solid white;
    text-decoration: none;
    color: white;
}

.boton-suscripcion:hover{
    background-color: white;
    color: rgb(25, 25, 25);
}

.color-circles {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px; /* Adjust as needed */
}

.color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-inline: 3px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.51);
}

a {
    text-decoration: none; /* Remove underline */
    color: rgb(25, 25, 25); /* Set your desired text color */
}