h1{
    color: rgb(25, 25, 25);
}

h2{
    color: rgb(25, 25, 25);
}

h3{
    color: rgb(25, 25, 25);
}

h4{
    color: rgb(25, 25, 25);
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.nav-izquierda{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 10px;
}

.nav-derecha{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 10px;
}

.tienda{
    font-weight: 800;
}

.item-nav{
    font-size: 12px;
    color: white;
}

.link{
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease 0s;
}

/* Define the hover effect to make the line appear */
.link:hover {
    opacity: 0.6;
}

.link-dropdown {
    text-decoration: none;
    transition: background-color 0.4s ease; /* Transición solo para el color de fondo */
    padding: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

/* Define el efecto de hover para cambiar el color de fondo */
.link-dropdown:hover {
    background-color: rgba(230, 230, 230, 0.7); /* Cambia el color de fondo al pasar el mouse */
}

.aviso-container {
    height: 35px;
    width: 100%;
    background-color: white;
    overflow: hidden; /* Asegurar que los avisos no se desborden */
    position: relative; /* Establecer contexto de posicionamiento para los avisos */
    display: flex;
    justify-content: center; /* Centra los avisos horizontalmente */
    align-items: center; /* Centra los avisos verticalmente */
}

.aviso {
    font-size: 11px;
    font-weight: 450;
    margin: 0;
    color: rgb(25, 25, 25);
    white-space: nowrap;
    position: absolute;
    animation: moveFromTop 8s ease-in-out; /* Ajustar la duración de la animación a 8 segundos */
}

.texto-aviso {
    font-size: 11px;
    font-weight: 600;
    color: rgb(25, 25, 25);
}
  
.fade-in-out {
animation: fade-in-out-animation 8s linear infinite;
}
  
  @keyframes fade-in-out-animation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
}

.barra-busqueda{
    width: 100%;
    height: 50px;
    border: 0;
    border-right: 0px;
    background-image: url('../img/search.png');
    background-size: 25px; /* Set the size of your image */
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
}

.barra-busqueda:focus {
    outline: none;
}  

.search-results {
    display: flex;
    flex-direction: column;
}

.product-item {
    display: flex;
    align-items: center;
    transition: background-color 0.7s ease 0s;
}

.product-item:hover {
    background-color: lightgray;
}

.product-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.product-price {
    align-self: center;
    font-size: 14px;
}

.search-container {
    display: flex;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
  

.search-container.show {
    max-height: 500px; /* Cambia este valor según sea necesario */
}

.barra-busqueda {
    width: 100%;
}

.search-toggle-link {
    cursor: pointer;
    font-size: 12px;
    color: black;
    text-decoration: underline;
    margin-right: 20px;
}
  
.close-link {
    cursor: pointer;
    font-size: 12px;
}

.img-cerrar-nav{
    max-width: 35px;
}

.search-container {
    display: flex;
    align-items: center;
}
  
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.barra-busqueda {
    width: 100%;
    padding-right: 60px; /* Leave space for the close icon */
}
  
.close-link {
    cursor: pointer;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
    transition: background-color 0.7s ease 0s;
}

.close-link:hover{
    background-color: lightgray;
}
  
.close-icon {
    margin-right: 5px;
}

.buscar-text{
    cursor: pointer;
}

.carrito-text{
    cursor: pointer;
}

.navbar-container {
    position: fixed;
    width: 100%; /* Ensure relative positioning for the container */
    z-index: 1;
    top: 0;
}
  
.search-container {
    position: absolute; /* Posicionamiento absoluto */
    top: 100%; /* Coloca la barra de búsqueda debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Asegura que esté por encima del contenido */
}

.search-results {
    position: absolute;
    top: calc(100% + 10px); /* Ajusta el margen superior según el tamaño de la barra de búsqueda */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Asegura que esté por encima del contenido */
    margin-top: 40px; /* Agrega un margen superior */
}

.logo-nav{
    display: flex;
    align-items: center;
}

.logo{
    color: white;
}

.container-logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias-dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(25, 25, 25);
    z-index: 1000;
    max-width: 0; /* Inicialmente oculto */
    overflow: hidden; /* Oculta el contenido que excede la altura máxima */
    transition: max-width 10s ease; /* Transición suave de altura máxima */
    padding-top: 12px;
    width: 20%;
    height: 100vw;
}

.categorias-dropdown.show {
    display: block;
    max-width: 10000px; /* Altura máxima para mostrar el menú */
}

.categorias-dropdown ul {
list-style-type: none;
padding: 0;
margin: 0;
border-top: 1px solid gray;
}

.nav-derecha:hover .categorias-dropdown,
.categorias-dropdown:hover {
display: block;
}

.img-categoria-navbar{
    height: 100%;
    aspect-ratio: 1/1;
    padding: 0;
    justify-content: center;
}

.texto-categorias-navbar{
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: rgb(25, 25, 25);
}

.container-cat-nav{
    display: flex;
    text-align: center;
    height: 60px;
    align-items: center;
    padding-right: 20px;
}

.navbar-cel{
    display: none;
}

.nav-derecha-cel{
    align-items: center;
}

.category-list{
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
}

.sidebar-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.sidebar-menu.show{
    max-height: 10000px;
}

@media only screen and (max-width: 767px) {
    .navbar-pc{
        display: none;
    }
    .navbar-cel{
        display: block;
    }
    .texto-categorias-navbar{
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        color: rgb(230, 230, 230);
    }
    .link-dropdown {
        text-decoration: none;
        transition: background-color 0.4s ease; /* Transición solo para el color de fondo */
        padding: 0;
        background-color: rgb(25, 25, 25);
        border-bottom: 1px solid gray;
        border-right: 0px solid gray;
        display: flex;
    }
    .category-list{
        background-color: rgb(25, 25, 25);
    }
    
    /* Define el efecto de hover para cambiar el color de fondo */
    .link-dropdown:hover {
        background-color: rgba(0, 0, 0, 0.7); /* Cambia el color de fondo al pasar el mouse */
    }
    .container-cat-nav{
    }

    .categorias-dropdown {
        
        padding-top: 20px;
        
    }
    
}
