.titulo-Productos{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-block-end: 0;
}

.tarjeta-Productos{
    width: 100%;
    height: 400px;
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
}

.img-tarjeta-Productos{
    width: 100%;
    aspect-ratio: 1/1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.titulo-tarjeta-Productos{
    display: flex;
    justify-content: left;
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(25, 25, 25);
}

.boton-tarjeta-Productos{
    display: inline-block;
    background-color: transparent;
    border: 1px solid rgb(25, 25, 25);
    padding: 5px;
    text-decoration: none;
    color: rgb(25, 25, 25);
}

.boton-tarjeta-Productos:hover{
    display: inline-block;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(25, 25, 25);
    padding: 5px;
    text-decoration: none;
    color: white;
}

.precio-tarjeta-Productos{
    margin-block: 5px;
    align-items: center;
    font-weight: 600;
    color: rgb(25, 25, 25);
}

.productos-component{
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .titulo-Productos{
        margin-block-end: 20px;
    }
}